// Global imports
@import "compass/typography/vertical_rhythm";
@import "compass/css3/hyphenation";

// Base
@import "_base/_config";
@import "_base/_functions";
@import "_base/_mixins/_utils";


//Displays vertical rhythm gridlines on any element container
.showgrid {
    background-color: $white;
    background-image: linear-gradient(to bottom,rgba(51,51,51,.247059)0,rgba(51,51,51,.247059)1px,rgba(255,255,255,0)1px,rgba(255,255,255,0)2px);
    background-size: 100% $base-line-height;
}
.showgrid--btn {
    background-color:rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    right:0;
    padding:3px;
    color:$white;
    cursor: pointer;
    z-index:9999;
}

.rwd_indicator {
  &.off {
    display:none !important;
  }
  position:fixed;
  line-height:40px;
  bottom:0;
  right:0;
  background-color:#ff0066;
  color:#fff;
  z-index:9999;
  padding:0 10px;
  div {
    display:none;
  }
  .rwd_indicator--xs {
    display:block;
    @include breakpoint(sm) {display:none;}
  }
  .rwd_indicator--sm {
    @include breakpoint(sm) {display:block;}
    @include breakpoint(md) {display:none;}
  }
  .rwd_indicator--md {
    @include breakpoint(md) {display:block;}
    @include breakpoint(lg) {display:none;}
  }
  .rwd_indicator--lg {
    @include breakpoint(lg) {
      display:block;
    }
  }
}