/*!
 *
 *  Project:  Web Icons
 *  Author:   Andy Cole - Pro-G Media
 *
 */

@font-face {
    font-family: 'creoregular';
    src: url('creo-webfont.eot');
    src: url('creo-webfont.eot?#iefix') format('embedded-opentype'),
         url('creo-webfont.woff') format('woff'),
         url('creo-webfont.ttf') format('truetype'),
         url('creo-webfont.svg#creoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: #333333;
    vertical-align:middle;
}

.svg_defs {
    left:-100%;
    top:-100%;
    position:absolute;
    display:none;
}