.roadblock {
    margin: 20px auto 0 auto;
    text-align: center;
    height:120px;
    width:100%;
    max-width:980px;
    img {
        vertical-align:baseline;
    }
}

.advert {
    margin-bottom: rhythm(0.45);
}