.block-heading {
    clear:both;
    color: #fff;
    display:block;
    background-color:$blockHeadingColor;
    border-bottom:3px solid darken($blockHeadingColor, 10%);
    padding:5px 20px;
    a {
        color:#fff;
    }
}