.content_body {
    //padding-left:70px;
    position:relative;

    //Style main featured image
    p:first-child > img {
        float: left;
        margin-left: -110px;
        margin-right: 30px;
        margin-bottom: 20px;
        max-width: 70%;
    }

    blockquote {
        @include type-scale(large);
        font-family: $serif-font-family;
        font-style: italic;
        color:$midgray;
        width:40%;
        border-left: 5px solid #efefef;
        padding-left: 20px;
    }

    .article_meta {
        @include margin-leader(0.3);
        border-left:5px solid $offwhite;
        padding-left:35px;
        min-height: 262px;
        margin-bottom: 10px;

        @include clearfix();

        .author_avatar {
            float: left;
            width: 80px;
            @include margin-leader(0.3);
            img {
                width: 100%;
                border-top-right-radius: 4px;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 50px;
            }
        }

        .article_details {
            float: right;
            width: calc(100% - 100px);
            .article_details_author {
                font-family: $sans-font-family;
                @include type-scale(small);
                @include margin-trailer(0.25);
                a {
                    @include type-weight(bold);
                }
            }
        }
        .article_subheadline {
            clear:both;
            @include type-weight(regular);
        }

        .article_details_featured {
            float:right;
            margin-left:10px;
            @include type-weight(bold);
            .icon {
                fill:$yellow;
                width:17px;
                height:17px;
            }
        }
    }
    .article_interaction {
        position:absolute;
        top:0;
        left: -40px;
        width: 110px;
        .thumb_up {
            margin:0 auto;
        }
        .rounded_icon {
            margin:rhythm(0.45) auto;
            float:none;
        }
        .rounded_icon_twitter {
            margin-top:rhythm(0.9);
        }
    }
    .article_image {
        @include margin-leader(0.25);
        width:60%;
        @include margin-trailer(0.25);
        img {
            width:100%;
            max-width:100%;
        }
        figcaption {
            font-style: italic;
            @include type-scale(xsmall);
            color:$midgray;
            line-height:1.7;
            font-family:$serif-font-family;
            padding:0 10px;
            width:100%;
            max-width:100%;
        }
    }
    .article_image--full {
        width:100%;
    }
    .article_block {
        &--right {
            float:right;
            margin-left:rhythm(0.9);
        }
        &--left {
            float:left;
            margin-right:rhythm(0.9);
        }
    }

    .article_gallery {
        width:60%;
        position:relative;
        .article_gallery_control {
            &--left {                
                position:absolute;
                width:10%;
                height:100%;
                text-align:center;
                border-radius:50%;
                left:0;
                top:40%;
                .icon {
                    fill: $white;
                    width:16px;
                    height:16px;

                }
                &:hover {
                    .icon {
                        fill: $lightblue;
                    }
                }
            }
            &--right {
                position:absolute;
                width:10%;
                height:100%;
                text-align:center;
                border-radius:50%;
                right:0;
                top:40%;
                .icon {
                    fill: $white;
                }
                &:hover {
                    .icon {
                        fill: $lightblue;
                    }
                }
            }
        }
        .article_image {
            width:100%;
            display:none;
        }
        .article_image:first-child {
            display:block;
        }
    }
}