.game-page {
    margin-top:0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.game-header {
    margin-top:15px;
    @include clearfix();
    background-color:rgba(40,40,40,0.9);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position:relative;
    overflow:hidden;
    .game_boxscore {
        float: left;
        width: 120px;
        margin: 0 50px 0 0;
        position:relative;
        .boxshot {
            width:100%;
            img {
                max-width: 100%;
            }
        }
        .game-scores {
            position:absolute;
            bottom:-25px;
            right:-25px;
        }

    }

    .game_details {
        margin: 0 0 0 0;
        color:$white;

        @include breakpoint(md) {
            margin-right:350px
        }
        @include breakpoint(lg) {
            margin-right:0;
        }

        h1 {
            margin: 0;
            line-height:$base-line-height;
            margin-bottom:14px;
            @include type_scale(large);
            @include breakpoint(lg) {
                @include type_scale(xxlarge);
            }
        }

        h3 {
            @include type_scale(medium);
            @include type_weight(thin);
        }
    }
    .game-scores {
        float:right;
    }
}

.user_aside_details {
    margin: 0 0 20px 0;
    padding: 0;

    li:nth-child(odd) {
        background: #f6f6f6;
    }
}

.game_maincolumn {
    margin-top:rhythm(0.45);
    width:100%;
    float:left;
    @include breakpoint(md) {
        width:calc(60% - #{$gutter-width});
    }
    margin-right:$gutter-width;
    .block-heading {
        @include type-scale(medium);
        @include breakpoint(md) {
            @include type-scale(large);
        }
    }
}
.game_subcolumn {
    margin-top:rhythm(0.45);
    width:100%;
    clear:left;
    @include breakpoint(md) {
        width:40%;
        clear:none;
    }
    float:left;
    .block-heading {
        @include type-scale(medium);
        @include breakpoint(md) {
            @include type-scale(large);
        }
    }
}

.screenshots_list {
    list-style-type: none;
    margin:0;
    padding:0;
    margin-bottom:0.9rem;
    @include clearfix();
    li {
        float:left;
        width:calc(33% - 4px);
        margin:2px;
        overflow:hidden;
        a {
            display:block;
            position:relative;
            .icon {
                display:none;
                fill:#fff;
                position:absolute;
                top:calc(50% - 25px);
                left:calc(50% - 25px);
                width:50px;
                height:50px;
            }
            img {
                max-width:100%;
                display:block;
                //float:left;
            }
            &:hover {
                img {
                    opacity:0.7;
                }
                .icon {
                    display:block;
                }
            }
        }
    }
}

.game-header--intro {
    padding:40px 0;
    float:left;
    width:100%;
    padding-right:15px;
    padding-left:15px;
    @include breakpoint(md) {
        width:calc(100% - $gutter-width);
        padding-left: $gutter-width;
        padding-right:$gutter-width;
    }
    @include breakpoint(lg) {
        padding-right: $column-width + ($gutter-width * 3);
        padding-left: $gutter-width;
    }

}
.game-header--guides {
    background-color: rgba(0,0,0,0.3);
    float:left;
    width:100%;
    padding:40px 0;
    @include breakpoint(md) {
        @include column(1, true, true);
        display:block;
        position:absolute;
        top:0;
        right:0;
        height:600px;
    }
    @include breakpoint(lg) {
        display:block;
    }
    h3 {
        color:$lightgray;
        text-align:center;
    }
    .btn {
        width:80%;
        padding:5px 0;
        margin:rhythm(0.45) auto 0 auto;
        display:block;
    }
}