
$header-height: 40px;
$header-border-bottom: 1px;

$header-height-md: 70px;
$header-border-bottom-md: 4px;

// set line height minus border bottom height
$header-line-height: $header-height - $header-border-bottom;
$header-line-height-md: $header-height-md - $header-border-bottom-md;

/*.header--is-fixed {
    padding-top:$header-height;
}*/

.header_width_container {
    max-width:100%;
    padding:40px 0 0 0;
    position:relative;
    @include breakpoint(md) {
        padding:0 0 0 30px;
    }
}

#header {
    @include breakpoint(md) {
        border-bottom:$header-border-bottom-md solid $lightblue;
    }
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    .header_top {
        min-height:40px;
        border-bottom:$header-border-bottom solid #222;
        background-color: rgba(#2b2e2e, 0.8);
        background-image: linear-gradient(0deg, rgba(#2b2e2e, 0.8) 0%, lighten(rgba(#2b2e2e, 0.8), 5%) 28%, lighten(rgba(#2b2e2e, 0.8), 5%) 100%);
        @include breakpoint(md) {
            height:$header-line-height-md;
        }
        ul {

            li {

                img {

                }

                a, a:active {

            
                }
            }
        }

        .logo {
            position:absolute;
            top:0;
            left:calc(50% - 140px/2);
            padding:12px 0 10px 0;
            h1 {
                background: url("../img/logo/logo-horizontal-white-no-tld-.svg") 0 0 no-repeat;
                width:140px;
                height:16px;
                background-size:100%;
                text-indent:-9999em;
                margin:0;
                html.no-svg & {
                    background: url("../img/logo/logo-horizontal-white-no-tld-.png") 0 0 no-repeat;
                }
            }
            @include breakpoint(md) {
                left:20px;
                padding:20px 0;
                h1 {
                    width:218px;
                    height:25px;
                }
            }
        }

        .header_navigation {
            position:fixed;
            bottom:0;
            left:0;
            z-index: $zindex-navbar;
            width:100%;
            background-color:darken($offwhite,5%);
            padding:0;
            margin:0;
            box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.2);            
            li {
                float:left;
                width:18%;
                margin:0 1%;
                text-align:center;
                a, span {
                    @include type-scale(xxsmall);
                    padding-top:30px;
                    display:block;
                    position:relative;
                    color: #666;
                    cursor:pointer;
                    .icon {
                        position:absolute;
                        top:2px;
                        left:calc(50% - 13px);
                        fill:#666;
                        width:26px;
                        height:26px;
                    }
                    &:hover {
                        color: $blue;
                        .icon {
                            fill:$blue;
                        }
                    }
                }
            }
            @include breakpoint(md) {
                position:absolute;
                top:0;
                left:278px;
                background-color:none;
                li {
                    width:auto;
                    margin: 0 15px 0 0;
                    a, span {
                        display:block;
                        height:$header-height-md;
                        color:#fff;
                        padding:0 20px;
                        @include type-scale(base);
                        line-height: $header-line-height-md;
                        .icon {
                            display:none;
                        }
                        &:hover {
                            background-color:rgba(0,0,0,0.2);
                            color:$yellow;
                        }
                    }
                    span {
                        display:none;
                    }
                    .navigation_extended {
                        margin:0;
                        padding:0;
                    }
                }
            }
        }

        .header_search {
            position:relative;
            padding:10px;
            background-image: linear-gradient(0deg, rgba(167, 167, 167, 0.2) 0%,rgba(194, 194, 194, 0.2) 28%,rgba(224, 224, 224, 0.2) 100%);
            @include breakpoint(md) {
                width:200px;
                padding:0;
                float:right;
                border-left:1px solid rgba($white, 0.1);
                border-right:1px solid rgba($white, 0.1)
            }
            input {
                width:100%;
                display:block;
                padding:2px 40px 2px 10px;
                border-radius:30px;
                @include type-scale(small);
                @include type-weight(bold);
                line-height:18px;
                height:26px;
                border:0;
                background-color:$white;
                color:$midgray;
                box-sizing:border-box;
                &:focus {
                    outline:none;
                }
                &::-webkit-input-placeholder { // WebKit browsers
                    opacity:1;
                    color:darken($white,30%);
                }
                &:-moz-placeholder { // Mozilla Firefox 4 to 18
                    opacity:1;
                    color:darken($white,30%);
                }
                &::-moz-placeholder { // Mozilla Firefox 19+
                    opacity:1;
                    color:darken($white,30%);
                }
                &:-ms-input-placeholder {
                    opacity:1;
                    color:darken($white,30%);
                }
                @include breakpoint(md) {
                    padding:17px 50px 17px 25px;
                    background-color:transparent;
                    height:$header-line-height-md;
                    line-height:$header-line-height-md - 17px -17px;
                    border-radius:0;
                    color:$offwhite;
                    background-color:rgba(0,0,0,0.2);
                    &:focus {
                        background-color:rgba(0,0,0,0.1);
                    }
                }
            }
            button {
                position:absolute;
                width:40px;
                background:none;
                border:none;
                top:9px;
                right:9px;
                padding:0;
                margin:0;
                &:focus {
                    outline:none;
                }
                .icon {
                    fill:$midgray;
                    width:22px;
                    height:22px;
                }

                @include breakpoint(md) {
                    position:absolute;
                    height:$header-line-height-md;
                    width:50px;
                    background:none;
                    border:none;
                    top:0px;
                    right:0;
                    &:focus {
                        outline:none;
                    }
                    .icon {
                        width:22px;
                        height:22px;
                    }                    
                }
            }
        }

        .header_user-menu {
            margin:0;
            padding:0;
            position:absolute;
            top:0;
            right:0;
            @include breakpoint(md) {
                position:relative;
                float:right;
            }
            li {
                a {
                    .avatar-placeholder {
                        .icon {
                            fill: #888;
                            width: 30px;
                            height: 30px;
                            vertical-align: top;
                            margin: 4px 5px;
                            @include breakpoint(md) {
                                margin:(($header-line-height-md - 30px)/2)-2px 15px;
                            }
                        }
                    }
                    &:hover {
                        .icon {
                            fill: lighten(#888,10%);
                        }
                    }
                }         
            }
            .login-header {
                @include clearfix();
                a {
                    width:40px;
                    height:40px;
                    display:block;
                    background-color:#424242;
                    &:hover {
                        background-color: #474747;
                    }
                    @include breakpoint(md) {
                        width:auto;
                        height:$header-height-md;
                        background-color: transparent;
                        color:#fff;
                        padding:0 20px 0 0;
                        @include type-scale(base);
                        line-height:$header-line-height-md;
                        &:hover {
                            background-color:rgba(0,0,0,0.2);
                            color:$yellow;
                        }

                    }
                }
            }
            .login-dropdown {
                display:none;

                h4 {

                }

                .textfield {

                }
                .btn {

                }
                .btn-primary-light {

                }
                .form-bottom {

                }
                .form-forgot {

                    &:hover {                    

                    }
                }
                .checkbox {

                }
            }

            .user-avatar {

                img {

                }

            }
            .user-menu-icon {

            }
        }

    }
}
/*

$header-top-height: 70px;
$header-bottom-height: 45px;

.header--is-fixed {
    padding-top:$header-top-height + 10px;
}
.header--subnav-active {
    padding-top:$header-top-height + $header-bottom-height;
}

#header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: $zindex-navbar;
    .header_top {
        position:relative;
        z-index: $zindex-navbar-top;
        background-color: rgba(#2b2e2e, 0.8);
        background-image: linear-gradient(0deg, rgba(#2b2e2e, 0.8) 0%, lighten(rgba(#2b2e2e, 0.8), 5%) 28%, lighten(rgba(#2b2e2e, 0.8), 5%) 100%);
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
        height: $header-height;
        line-height: $header-line-height; // set line height minus border bottom height
        margin: 0;
        border-bottom:$header-border-bottom solid $lightblue;

        ul {
            margin: 0 0 0 25px;
            padding: 0;
            li {
                float: left;
                margin: 0 0 0 15px;
                @include type-scale(small);
                line-height:$header-height;

                img {
                    vertical-align: middle;
                }

                a, a:active {
                    padding:0 15px;
                    color: $white;
                    text-decoration: none;
                    display:block;
                }
                a:hover {
                    color: $yellow;
                    text-decoration: none;
                    background-color:rgba(0,0,0,0.2);
                    transition: color 0.5s 
                }
            }
        }

        .header_search {
            width:200px;
            position:relative;
            input {
                width:100%;
                display:block;
                padding:17px 50px 17px 25px;
                @include type-scale(small);
                @include type-weight(bold);
                border:0;
                background-color:transparent;
                height:$header-line-height;
                color:$offwhite;
                &:focus {
                    outline:none;
                    background-color:rgba(0,0,0,0.2);
                }
                &::-webkit-input-placeholder { // WebKit browsers
                    opacity:1;
                    color:darken($white,30%);
                }
                &:-moz-placeholder { // Mozilla Firefox 4 to 18
                    opacity:1;
                    color:darken($white,30%);
                }
                &::-moz-placeholder { // Mozilla Firefox 19+
                    opacity:1;
                    color:darken($white,30%);
                }
                &:-ms-input-placeholder {
                    opacity:1;
                    color:darken($white,30%);
                }
            }
            border-left:1px solid rgba($white, 0.1);
            border-right:1px solid rgba($white, 0.1);
            button {
                position:absolute;
                height:$header-line-height;
                width:50px;
                background:none;
                border:none;
                top:0px;
                right:0;
                &:focus {
                    outline:none;
                }
                .icon {
                    fill:$yellow;
                    width:22px;
                    height:22px;
                }
            }
        }

        .header_user-menu {
            margin-left:0;
            li {
                margin-left:0;   
                position:relative;
                a {
                    display:block;
                    padding:0 15px;
                }         
                .avatar-placeholder {
                    display:block;
                    float:left;
                    margin: 10px 15px 0 0;
                    width:36px;
                    height:36px;
                    background-color:#777;
                    padding:0;
                    -webkit-border-radius: 30px 2px 30px 30px;
                    border-radius: 30px 2px 30px 30px;
                    .icon {
                        fill: #999;
                        width:25px;
                        height:25px;
                        vertical-align:top;
                        margin:4px 6px;
                    }
                }
            }
            .login-header {
                @include clearfix();
                position:relative;
            }
            .login-dropdown {
                display:none;
                position: absolute;
                top:100%;
                right:0;
                background-color:$white;
                border:none;
                padding:25px;
                box-shadow:0px 0px 4px rgba(0,0,0,0.4);
                border-radius:0 0 3px 3px;
                width:420px;

                h4 {
                    margin:0;
                }

                .textfield {
                    width:100%;
                    height:36px;
                    border:2px solid $greywhite;
                    border-radius:3px;
                    padding:10px;
                }
                .btn {
                    float:right;
                    width:100px;
                }
                .btn-primary-light {
                    margin-bottom:15px;
                }
                .form-bottom {
                    clear:right;
                    width:100%;
                    border-top:2px solid $greywhite;
                    padding-top:15px;
                }
                .form-forgot {
                    clear:left;
                    float:left;
                    padding:0;
                    line-height:3;
                    color:$blue;
                    &:hover {
                        color:darken($blue,5%);
                    }
                }
                .checkbox {
                    line-height: $base-line-height;
                }
            }

            .user-avatar {
                display:block;
                float:left;
                padding:0;
                margin-left:15px;
                img {
                    width:40px;
                    -webkit-border-radius: 30px 2px 30px 30px;
                    border-radius: 30px 2px 30px 30px;
                }
            }
            .user-menu-icon {

            }
        }

    }
}*/