.rounded_icon {
    float:left;
    border-radius:45px;
    background-color:#ccc;
    display:block;
    width:50px;
    height:50px;
    line-height: 48px;
    padding-left: 10px;
    margin-right:10px;
    .icon {
        height:30px;
        width:30px;
        fill:#fff;
    }
}
.rounded_icon_rss {
    background-color:#f3a01e;
}

.rounded_icon_facebook {
    background-color:#6888cb;
}

.rounded_icon_twitter {
    background-color:#55acee;
}

.rounded_icon_youtube {
    background-color:#c4302b;
}
a:hover {
    color:#222;
    &.rounded_icon_rss, .rounded_icon_rss {
        background-color:lighten(#f3a01e,10%);
    }

    &.rounded_icon_facebook, .rounded_icon_facebook {
        background-color:lighten(#6888cb,10%);
    }

    &.rounded_icon_twitter, .rounded_icon_twitter {
        background-color:lighten(#55acee,10%);
    }

    &.rounded_icon_youtube, .rounded_icon_youtube {
        background-color:lighten(#c4302b,10%);
    }
}