.social_icon_rss {
    background-color:#f3a01e;
}

.social_icon_facebook {
    background-color:#6888cb;
}

.social_icon_twitter {
    background-color:#55acee;
}

.social_icon_youtube {
    background-color:#c4302b;
}
a:hover {
    &.social_icon_rss, .social_icon_rss {
        background-color:lighten(#f3a01e,10%) !important;
    }

    &.social_icon_facebook, .social_icon_facebook {
        background-color:lighten(#6888cb,10%) !important;
    }

    &.social_icon_twitter, .social_icon_twitter {
        background-color:lighten(#55acee,10%) !important;
    }

    &.social_icon_youtube, .social_icon_youtube {
        background-color:lighten(#c4302b,10%) !important;
    }
}