.aside-mentions-platform {
    .mentions-platform-description {
        h3 {
            margin: 0;
        }

        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;

        border-top: 3px solid $greywhite;

        margin-bottom: 20px;
        @include type_scale(small);
    }
}

// Suggestions aside
// --------------------------------------------------
.suggestions {
    margin-bottom: 20px;

    .btn {
        margin-bottom: 20px;
    }

    .tooltip {
        @include type_scale(small);
        @include set-font();
        color: $midgray;
    }

    .suggestion-result {
        @include type_scale(small);
        @include set-font();
    }

}

.data-table {
    width: 100%;
    margin-bottom: 20px;

    tr:nth-child(even) {
        background: $greywhite;
    }

    td {
        @include set-font();
        @include type_scale(small);

        width: 50%;
        padding: 5px 10px;

        p {
            @include set-font();
            @include type_scale(small);
            text-align: right;
            padding: 0;
            margin: 0;
        }
    }

    td:last-child {
        text-align: right;
    }
}

.contribute {
    @include set-font();
    background: $darkgray;
    min-height: 200px;
    border-radius: 3px;
    padding: 20px;
    margin: 0 40px 40px 0;
    color: #fff;

    @include clearfix();

    .contribute-game {
        width: 40%;
        margin: 20px 0 0 0;
        float: left;

        h3 {
            color: $yellow;
        }

        .icon {
            fill: $white;
            width: 20px;
            height: 20px;
        }
    }

    h2 {
        font-weight: normal;
        @include type_scale(xlarge);
    }
}