/*********** Top Spot ************/
.topspot {
    width: 100%;
    position: relative;
    overflow:hidden;
    z-index: 0;
    border-bottom: 2px solid rgba(43,46,46,0.8);
    overflow-x:scroll;
    overflow-y:hidden;

    .topspot__slides {
      width:270%;
      overflow:hidden;
      @include breakpoint(lg) {
        width:100%;
      }
    }

    .topspot__image {
        float:left;
        width: (100% / 3);
        background-color:#ccc;
        a {
            display: block;
            position: relative;
            width: 100%;
            z-index: 4;
            //1x1 gif to Make block anchor clickable in older browsers
            background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
            &:before {
              display:block;
              content:'';
              position:absolute;
              width:100%;
              height:100%;
            }
            &:hover .topspot__title {
              background: rgba(0, 0, 0, 0.8);
              transition: background-color 0.5s;
            }
        }
        img {
            display: block;
            width: 100%;
        }
    }

    .topspot__category {
        display:block;
        float:left;
        padding: 3px;
        margin-bottom:5px;
        background: $lightblue;
        text-transform: uppercase;
        color: #fff;
        z-index: 20;
        font-weight: normal;
        font-size: 0.5em;
        line-height: 1;
    }

    .topspot__title {
        max-width: 80%;
        min-width:45%;
        display: block;
        position: absolute;
        padding: 10px 10px 15px 10px;
        bottom: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.6);
        color: #FFFFFF;
        text-align: left;
        z-index: 3;
        border-top: 2px solid $lightblue;
        h2 {
            @include type-scale(small);
            line-height:18px;
            font-weight: bold;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
            text-transform:uppercase;
            margin-bottom:0;
            span {
              color:#edb21e;
            }
            @include breakpoint(md) {
                @include type-scale(base);
                padding: 15px;
            }
            @include breakpoint(hg) {
                @include type-scale(large);
            }
        }
        .topspot__details {
            float: left;
            clear:left;
        }
    }
}