.mentioned-game-aside {
    margin-bottom: rhythm(0.9);
}

.mentioned-game_item {
    h3 {
        margin-bottom:0px;
        a {
            color:$darkgray;
            &:hover {
                color:$black;
            }
        }
    }

    .mentioned-game--truncated-name {
        display:inline;
    }
    .mentioned-game--full-name {
        display:none;
    }

    h3.section_btn {
        @include type-scale(small);
    }

    &.section_collapsable--open {
        background-color:#f8f8f8;
        .section_btn {
            color: $black;
        }
        .mentioned-game--truncated-name {
            display:none;
        }
        .mentioned-game--full-name {
            display:inline;
        }
    }

    &.section_collapsable .section_btn:hover {
        background-color:#EFEFEF;
    }


    .section_fold {
        padding:5px 15px 15px 15px;
    }
    .mentioned-game_platform-meta {
        @include type-scale(small);
        margin-bottom:5px;
    }

    .mentioned-game_body {
        padding:15px 0 10px 0;
        overflow:hidden;
        clear:both;
        border-top:2px solid #ddd;
        border-bottom:1px solid #ddd;
        margin-bottom:10px;
    }

    .mentioned-game_boxshot {
        float:left;
        width: 100px;
        margin-right:15px;
        img {
            width:100%;
            max-width:100%;
        }
    }

    .mentioned-game_description {
        @include type-scale(small);
    }

    .mentioned-game_release {
        @include type-scale(small);
        clear:both;
    }

    .btn-dark {
        margin-top:10px;
    }
}