@charset "UTF-8";

// Global imports
@import "compass/typography/vertical_rhythm";
@import "compass/css3/hyphenation";

// Base
@import "_base/_config";
@import "_base/_functions";
@import "_base/_mixins";
@import "_base/_fonts";
@import "_base/_icons";
@import "_base/_reset";
@import "_base/_presets";

// Layout
@import "_layouts/_grid";
@import "_layouts/_layout";

// UI Helpers
@import "_base/_utils";

#panel{
    cursor: move;
}

button {
    padding: 4px 10px;
    font-size: 1em;
}