//-------------------------------
// THE GRID - The Final Frontier
//-------------------------------

// Defaults
$column-width: 300px;
$gutter-width: 40px;
$total-columns: 4;
$total-gutters: $total-columns + 1;

// Set $total-width to 100% for a fluid layout
$total-width: ($column-width * $total-columns) + ($gutter-width * $total-gutters);


body {
    width: 100%;
    @include clearfix();
}


@mixin column($columnspan, $leftgutter: false, $rightgutter: false, $widthmodifier: false) {
    $gutterspan: $columnspan - 1;
    display: inline;
    float: left;
    $width: ($columnspan * $column-width) + ($gutter-width * $gutterspan);
    @if $leftgutter {
        padding-left: $gutter-width;
        $width: $width + $gutter-width;
    }
    @if $rightgutter {
        padding-right: $gutter-width;
        $width: $width + $gutter-width;
    }
    @if $widthmodifier {
        width: $width + $widthmodifier;
    } @else {
        width: $width;
    }
}